In [5]:
import pandas as pd
import numpy as np
df = pd.read_csv('Titanic-Dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
#Sorting

#1
fare = df[['Fare']]
print(fare.head())

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [7]:
#2
class_age = df[['Pclass', 'Age']]
print(class_age.head())

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [8]:
#3
survived_gender = df[['Survived','Sex']]
print(survived_gender.head())

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

In [9]:
#Subsetting

#1
fare_gt_100 = df[df['Fare'] > 100]
print(f"Passengers with fare > 100: {len(fare_gt_100)}")

Passengers with fare > 100: 53

In [10]:
#2
first_class = df[df['Pclass'] == 1]
print(f"Passengers in First Class: {len(first_class)}")

Passengers in First Class: 216

In [11]:
#3
female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == 'female')]
print(f"Females under 18: {len(female_under_18)}")

Females under 18: 55

In [12]:
# Subsetting Rows by Categorical Variables

#1
embarked_c_or_s = df[df['Embarked'].isin(['C', 'S'])]
print(f"Embarked from C or S: {len(embarked_c_or_s)}")

Embarked from C or S: 812

In [13]:
#2
first_second_class = df[df['Pclass'].isin([1, 2])]
print(f"Passengers in 1st or 2nd Class: {len(first_second_class)}")

Passengers in 1st or 2nd Class: 400

In [14]:
#EDA 3.2
median_age = df['Age'].median()
df['Age'] = df['Age'].fillna(median_age)
print(f"Missing age values filled with median value: {median_age}")

Missing age values filled with median value: 28.0

In [15]:
#Q1

#1
df['fare_per_year'] = df['Fare'] / df['Age']

#2
high_fare_age = df[df['fare_per_year'] > 5]

#3
high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)

#4
result_q1 = high_fare_age_srt[['Name', 'fare_per_year']]

#5
print("Top fare per year:")
print(result_q1.head())

Top fare per year:
                                Name  fare_per_year
305   Allison, Master. Hudson Trevor     164.728261
297     Allison, Miss. Helen Loraine      75.775000
386  Goodwin, Master. Sidney Leonard      46.900000
164     Panula, Master. Eino Viljami      39.687500
183        Becker, Master. Richard F      39.000000

In [16]:
#Q2

#1
df['fare_per_class'] = df['Fare'] / df['Pclass']

#2
adult_males = df[(df['Sex'] == 'male') & (df['Age'] >= 18)]

#3
adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)

#4
result_q2 = adult_males_srt[['Name', 'Age', 'fare_per_class']]

#5
print("Adult males who paid the highest fares:")
print(result_q2.head())

Adult males who paid the highest fares:
                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208

In [17]:
#EDA 3.3

#Q1

#1
total_fare = df['Fare'].sum()

#2
fare_c1 = df[df['Pclass'] == 1]['Fare'].sum()

#3
fare_c2 = df[df['Pclass'] == 2]['Fare'].sum()
fare_c3 = df[df['Pclass'] == 3]['Fare'].sum()

#4
fare_totals = [fare_c1, fare_c2, fare_c3]

#5
fare_proportions = [fare / total_fare for fare in fare_totals]

classes = ['First class', 'Second class', 'Third class']
for cls, prop in zip(classes, fare_proportions):
    print(f"{cls} fare percentage: {prop:.2%}")

First class fare percentage: 63.35%
Second class fare percentage: 13.25%
Third class fare percentage: 23.40%

In [18]:
#Q2

#1
def get_age_group(age):
    if age < 18:
        return 'child'
    elif 18 <= age <= 64:
        return 'adult'
    else:
        return 'senior'

df['age_group'] = df['Age'].apply(get_age_group)

#2
total_passengers = len(df)

#3
group_counts = df['age_group'].value_counts()

#4
passengers_proportions = (group_counts / total_passengers)

#5
proportion_percentage = passengers_proportions * 100
print("Percentages of age groups from total passengers:")
print(proportion_percentage)

Percentages of age groups from total passengers:
age_group
adult     86.083053
child     12.682379
senior     1.234568
Name: count, dtype: float64